body {
    background-color: #000;
    color: #00FF00;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 3em;
}

p#typewriter {
    font-size: 2em;
    border-right: 0.15em solid #00FF00;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 4s steps(20, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #00FF00 }
}

.content {
    text-align: left;
    max-width: 600px;
    margin: 0 auto 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    margin: 10px 0;
}

nav a {
    color: #00FF00;
    text-decoration: none;
    font-size: 1.5em;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #00cc00;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
