/* Estilos Gerais */
body {
    background-color: #000;
    color: #00FF00;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    text-align: center;
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.content {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 40px;
}

/* Efeito de digitação para "Under Maintenance..." */
.typewriter {
    font-size: 2em;
    white-space: nowrap;
    overflow: hidden;
    border-right: 0.15em solid #00FF00;
    width: 0;
    display: inline-block;
    animation: typing 3s steps(20, end) forwards, blink-caret 0.75s step-end infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 20ch } /* Ajuste o valor de 'ch' conforme o comprimento do texto */
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #00FF00 }
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: #00FF00;
    text-decoration: none;
    font-size: 1.5em;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #00cc00;
}
